/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
  }
  h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  h2 {
    font-size: 2.7em;
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  h3 {
    font-size: 2.2em;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  h4 {
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  h5 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  h6 {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  .red {
    color: red;
  }
  .blue {
    color: blue;
  }
  .white {
    color: white;
  }
  .green {
    color: green;
  }
  .orange {
    color: orange;
  }
  .purple {
    color: purple;
  }
  .pink {
    color: pink;
  }
  .gray {
    color: gray;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: red;
  }
  a:active {
    color: green;
  }
  .active {
    color: green;
    font-weight: bold;
  }
  .btn {
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .btn:hover {
    background-color: chocolate;
    color: black;
    cursor: pointer;
    opacity: 0.8;
  }
  .navheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: aquamarine;
    padding: 20px;
  }
  .logoImg img {
    width: 150px;
  }
  .page_header_item:first-child {
    width: 250px;
    height: 100px;
  }
  .page_header_item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }
  .navlist {
    list-style-type: none;
  }
  .navlist li {
    display: inline-block;
    margin-right: 50px;
    font-size: 24px;
  }
  .divLine {
    border: 3px solid green;
    padding: 30px;
    margin-bottom: 20px;
  }
  footer {
    text-align: center;
    margin-top: 50px;
  }
  .mainHomeDiv {
    background-color: white;
    max-width: 800px;
    position: relative;
    margin: 0 auto;
    min-height: 300px;
    margin-top: 100px;
    padding: 20px;
  }
  .mainHomeDiv h1 {
    text-align: center;
  }
  .imgProfile {
    border-radius: 30%;
    float: left;
    margin-right: 15px;
    width: 250px;
  }
  .profession {
    color: orange;
    font-weight: 600;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
  }
  thead {
    background-color: aquamarine;
    text-transform: uppercase;
  }
  table {
    width: 100%;
  }
  .mainHomeDiv label, input, textarea, button {
    display: inline-block;
    width: 100%;
  }
  .mainHomeDiv input, textarea, button {
    padding: 20px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .form-left {
    min-width: 50%;
  }
  .form-right {
    min-width: 50%;
  }
  .contactDiv {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 650px;
    margin-top: 100px;
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contactDiv label, input, textarea, button {
    width: 100%;
  }
  .contactDiv input, textarea, button {
    padding: 20px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .clearboth {
    display: block;
    clear: both;
  }
  main {
    width: 97vw;
    display: block;
    margin: 20px;
  }
  .grid__item {
    display: inline-block;
    width: 100%;
    background-color: white;
    padding: 10px;
    min-height: 100%;
  }
  .grid {
    margin: 0 auto;
  }
  @supports (display: grid) {
    .grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
   }
    .grid__item:last-child {
      -ms-grid-column: 1;
      grid-column: 1;
      grid-row: 0.3333333333;
   }
  }
  /* Mobile Device Responsive Query */
  @media all and (max-width: 500px) {
    .grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-gap: 20px;
   }
    .grid__item:last-child {
      grid-column: auto/auto;
      grid-row: auto/auto;
   }
    h1 {
      font-size: 22px;
   }
  }
  .buttonDiv {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .button {
    background-color: darkgreen;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    display: inline-block;
    -webkit-transition-duration: 0.9s;
         -o-transition-duration: 0.9s;
            transition-duration: 0.9s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }
  .button:hover, .button:focus {
    color: white;
    opacity: 0.8;
    cursor: pointer;
  }
  .buttonOrange {
    background-color: orange;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    display: inline-block;
    -webkit-transition-duration: 0.9s;
         -o-transition-duration: 0.9s;
            transition-duration: 0.9s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }
  .buttonOrange:hover, .buttonOrange:focus {
    color: black;
    opacity: 0.8;
    cursor: pointer;
  }
  @-webkit-keyframes color-change {
    0% {
      fill: crimson;
      -webkit-transform: translate(45px, 45px);
              transform: translate(45px, 45px);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      -webkit-transform: rotate(1deg);
              transform: rotate(1deg);
   }
    50% {
      fill: coral;
      -webkit-transform: translate(30px, 30px);
              transform: translate(30px, 30px);
      -webkit-transform: scale(2, 2);
              transform: scale(2, 2);
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
   }
    100% {
      fill: gold;
      -webkit-transform: translate(15px, 15px);
              transform: translate(15px, 15px);
      -webkit-transform: scale(3, 3);
              transform: scale(3, 3);
      -webkit-transform: rotate(20deg);
              transform: rotate(20deg);
   }
  }
  @keyframes color-change {
    0% {
      fill: crimson;
      -webkit-transform: translate(45px, 45px);
              transform: translate(45px, 45px);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      -webkit-transform: rotate(1deg);
              transform: rotate(1deg);
   }
    50% {
      fill: coral;
      -webkit-transform: translate(30px, 30px);
              transform: translate(30px, 30px);
      -webkit-transform: scale(2, 2);
              transform: scale(2, 2);
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
   }
    100% {
      fill: gold;
      -webkit-transform: translate(15px, 15px);
              transform: translate(15px, 15px);
      -webkit-transform: scale(3, 3);
              transform: scale(3, 3);
      -webkit-transform: rotate(20deg);
              transform: rotate(20deg);
   }
  }
  .sun {
    -webkit-animation: 5s color-change infinite alternate linear;
            animation: 5s color-change infinite alternate linear;
  }